.navigation .navbar-nav .nav-item { position:relative; padding:0 0 0 10px; }
.navigation .navbar-nav .nav-item .nav-link { color:#ffffff; text-transform:uppercase; font-size:14px; font-weight:500; padding:20px 10px; letter-spacing:0.5px; position:relative; display:block; background:transparent; }
.navigation .navbar-nav .nav-item .nav-link i { margin-right:10px; position:relative; }

@media only screen and (max-width:991px){
        /* Navigation */
        .navigation .navigation-menu { position:fixed; max-width:280px; height:100%; left:0; top:0; z-index:1024; opacity:1; visibility:visible; overflow:auto; display:block; -webkit-overflow-scrolling:touch; -webkit-transition:all .15s ease-in; transition:all .15s ease-in; background-color:#f9f9f9; text-align:left; width:100%; box-shadow:0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5); }
        .navigation .navigation-menu.mobile-menu-hide { left:-100%; opacity:0; visibility:hidden; }
        .navigation .navbar-nav .nav-item { padding:0; width:100%; }
        .navigation .navbar-nav .nav-item .nav-link { color:#666666 !important; padding:8px 30px 8px 15px; border-top:1px solid #dddddd; }
        .navigation .closeNav-btn { font-size:14px; font-weight:500; text-transform:uppercase; display:block; width:100%; text-align:right; float:right; padding:10px 15px; }
        .navigation .closeNav-btn i { font-size:16px; }
    
        /* Menu Toggle */
        .navigation .navbar { float:right; text-align:right; }
        .menu-toggle-line { width:40px; border:none; padding:7px 0 0; background:none; z-index:99; }
        .menu-toggle-line.open:after { content:""; background:rgba(0,0,0,0.5); position:fixed; left:0; right:0; top:0; bottom:0; -webkit-transition:all .15s ease-in; transition:all .15s ease-in; }
        .menu-toggle-line span { height:2px; width:32px; background:#ffffff; display:block; margin:0 auto 8px; transform-origin:10px 0; transition:transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease; }
        .menu-toggle-line.open span:nth-child(1) { -webkit-transform:rotate(45deg) translate(6px,1px); transform:rotate(45deg) translate(6px,1px); }
        .menu-toggle-line.open span:nth-child(2) { opacity:0; }
        .menu-toggle-line.open span:nth-child(3) { -webkit-transform:rotate(-45deg) translate(6px,-3px); transform:rotate(-45deg) translate(6px,-3px); }
        .back-to-top { bottom:15px; right:15px; }
        .pages .main-wrapper { padding-top:55px; }
    }